<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <input type="checkbox" checked> <%= link_to task.title, task_path(task) %>
  <% else %>
    <input type="checkbox"> <%= link_to task.title, task_path(task) %>
  <% end %>
<%= link_to task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
  <i class='far fa-trash-alt'></i>
<% end %>
<br> <br>
<% end %>

<%= link_to "Add new task", task_new_path %>
